<div class="container">
  <div class="password-generator">
    <h1 class="title">PASSWORD FORGE</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="password-form">
        <div class="options">
          <label class="option" *ngFor="let option of ['uppercase', 'lowercase', 'numbers', 'symbols']">
            <input type="checkbox" [formControlName]="option">
            <span class="checkbox"></span>
            <span class="label-text">{{option | titlecase}}</span>
          </label>
        </div>

        <div class="length-control">
          <label for="length">Length: {{form.get('length')?.value}}</label>
          <input type="range" id="length" formControlName="length" min="3" max="20" class="slider">
        </div>

        <div class="password-display">
          <input type="text" formControlName="password" readonly>
          <button type="button" (click)="copyPassword()" class="copy-btn">
            <i class="fas fa-copy"></i>
          </button>
        </div>

        <button type="submit" [disabled]="!form.valid" class="generate-btn">
          Forge Password
        </button>
      </form>
</div>
</div>